$backgroundColor: #efefef;
$radius: 40%;

form {
  margin: auto;
  width: 200px;

  div {
    display: flex;
    margin: 1rem 0;

    label {
      input {
        display: none;
      }
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.25rem 0.5rem;
        background: #ccc;

        &:hover,
        &.active {
          background: #fff;
        }
      }
    }
  }
}
